div.moveable {
    display: block;
    position: absolute;
    transform-origin: top left;
    outline: 1px solid #ccc;
}
div.moveable{
    z-index: 5;
}
div.moveable.focus{
    outline: 1px solid #4af;
    z-index: 10;
}
@media print{
    div.moveable,
    div.moveable.focus{
        outline: none;
    }
}
