html, body {
    overscroll-behavior-y: contain;
}

.printing .moveable-control-box,
.printing .moveable-line,
.printing .moveable-control {
    display: none !important;
}

.paperform-app .main {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid transparent;
}

.paperform-app {
    font-family: Verdana, Arial, Helvética;
}
.paperform-app .main.portrait {
    height: 1410px;
    width: 1000px;
}
.paperform-app .main.landscape {
    height: 1000px;
    width: 1440px;
}
.paperform-app .main.border {
    border: 1px solid grey;
}
.paperform-app .controls-contents {
    padding: 10px;
}
.paperform-app .controls-contents button {
    margin: 4px;
    min-width: 100px;
}
.paperform-app .options {
    min-width: 100px;
}

@media print {
    *[non-printable] {
        display: none;
    }

    .moveable-control-box,
    .moveable-line,
    .moveable-control {
        display: none !important;
    }

    body * {
        visibility: hidden;
    }
    .paperform-app .main, .paperform-app .main * {
        visibility: visible;
    }
    .paperform-app .main {
        position: absolute;
        left: 0;
        top: 0;
    }
}

*[non-selectable] {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
