<div class="paperform-app">
    <pa-window shadow rounded-top non-printable non-selectable top="20" right="20" fixed>
        <template v-slot:title drag-handle gray-gradient class="controls-bar">
            <div @dblclick="controls.options = !controls.options">
                Options
            </div>
        </template>

        <div class="controls-contents" v-if="controls.options">
            <input type="checkbox" v-model="border"> Border<br/>
            <input type="radio" v-model="landscape" value="1"> Portrait<br/>
            <input type="radio" v-model="landscape" value="2"> Landscape<br/>
            <input type="checkbox" v-model="grid"> Grid<br/>
        </div>
    </pa-window>

    <pa-window shadow rounded-top non-printable non-selectable top="200" right="20" fixed>
        <template v-slot:title drag-handle gray-gradient class="controls-bar">
            <div @dblclick="controls.help = !controls.help">
                Help
            </div>
        </template>

        <div class="controls-contents" v-if="controls.help">
            <p>Esta es la ayuda.</p>
            <p>No muy útil por el momento.</p>
        </div>
    </pa-window>

    <div class="main" :class="cssClassesMain()">
        <pa-positioning-grid v-if="grid"></pa-positioning-grid>
    </div>
</div>
