.pa-window {
    position: absolute;
    border: 1px solid #E0E0E0;
    background: #FFFFFF; /* fondo blanco por defecto */
}


/* Queremos que lo siguiente sólo se aplique si la ventana
 * tiene la propiedad "shadow" */
.pa-window[shadow] {
    box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.10);
}

.pa-window-title {
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
    padding: 5px 10px;
}
