<html>
    <head>
        <script src="lib/vue-2-dev.js"></script>
    </head>
    <body>
        <div id="app"></div>

        <div v-templates>
            <div class="paperform-app" id="paperform-app-template">

                <pa:window>1234</pa:window>

                <div class="controls options">
                    <div class="controls-bar" @click="controls.options = !controls.options">
                        Options
                    </div>
                    <div class="controls-contents" v-if="controls.options">
                        <input type="checkbox" v-model="border"> Border<br/>
                        <input type="radio" v-model="landscape" value="1"> Portrait<br/>
                        <input type="radio" v-model="landscape" value="2"> Landscape<br/>
                        <input type="checkbox" v-model="grid"> Grid<br/>
                        <input type="checkbox" v-model="numbers"> Positioning numbers<br/>
                    </div>
                </div>
                <div class="main" :class="cssClassesMain()">
                    <pa:number-row v-if="numbers"></pa:number-row>
                    <pa:number-row v-if="numbers"></pa:number-row>
                    {{ greeting }} {{ border }}
                </div>
            </div>
        </div>
        <script src="main.js" type="module"></script>
    </body>
</html>
<style>
    [v-templates] {
        display: none;
    }
</style>
